Dear Hi <displayName>,
 
<ProviderName> has invited you to AAF Identity Enhancement. By accepting this invitation your identity will be verified and provide you with access to more research services.
 
Please visit the following link to accept the invite and get started:
 
<invitation URL>
 
Please contact <admin or API Email Address> if you have any questions or concerns about this enhancement.
 
If not accepted, this invitation will expire on <expiry date>.

For more information about AAF Identity Enhancement visit the AAF website << provide a link to general web content>>.

Regards,
The team at AAF
