<%- if flash[:success] -%>
  <div class="ui hidden divider"></div>
  <%= success_message('Success') do -%>
    <%= flash[:success] %>
  <%- end -%>
<%- end -%>

<%- if flash[:error] -%>
  <div class="ui hidden divider"></div>
  <%= error_message('Error') do -%>
    <%= flash[:error] %>
  <%- end -%>
<%- end -%>
